<section id="offer">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">お知らせ</div>
            <div class="panel-body">
                {{ information }}
            <p><a href="{{ path("app_concert_index") }}">公演情報はこちら</a></p>
            </div>
        </div>
    </div>
</section>
